.header {
  padding-bottom: 90px;
}

.logo img {
  width: 120px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 16px;
  gap: 12px;
}
.nav .links li a {
  text-decoration: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nav .nav-links a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: "Mulish", sans-serif;
  margin-left: 126px;
  margin-right: 126px;
  margin-top: 60px;
  width: auto;
  height: 100vh;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
.footer nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.footer nav ul li a {
  color: #000;
  text-decoration: none;
}
.footer .social-icons a {
  margin-right: 10px;
  float: left;
}
.footer .social-icons a img {
  width: 24px;
  height: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Project content section*/
.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.project-details {
  width: 50%;
  text-align: start;
  line-height: 1.5;
  color: #111111;
}
.project-details h1 {
  font-size: 40px;
}

.project-info {
  border-bottom: 1px solid #111111;
}
.project-info table {
  justify-self: flex-end;
  width: 100%;
}
.project-info th,
.project-info td {
  text-align: left;
  padding: 10px;
}

/*Gallery section */
.project-img {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.main-img p {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: "Mulish", sans-serif;
}

.project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.project-gallery img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=project.css.map */