@import 'header';
@import 'variables';
@import 'body';
@import 'footer';

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Hero section*/ 


.hero-section {
    @include flexSpace();
    padding-bottom: 100px;

        h5 {
           color: $primaryColor;
           font-weight: bold;
           font-size: 20px;
        }

        span {
            color: $fontPrimary;
            font-size: 18px;
            font-style: italic;
            align-self: flex-end;
            margin-right: 50px;
        }
}
    

.title {
    width: 60%;

        h1 {
            font-size: 40px;
            color: $fontPrimary;
            line-height: 1.5;
            } 

        .h1-blue {
            color: $primaryColor;
            font-size: 40px;
        }
}


/* Grid section */

@import 'grid-container';

/* Services section */

.services {
    @include flexSpace();
    margin-top: 90px;
    margin-bottom: 100px;

        h2 {
            font-size: 28px;
            font-weight: bold;
            width: 40%;
            text-align: start;
            line-height: 1.5;
        }

        .service-list {
            color: $secondaryColor;
            list-style: none;
            line-height: 2;
        }
}

/*Awards section */

.awards {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

table {
    width: 100%;
    gap: 30px;
}

.table-title {
    text-align: left;
    width: 40%;
    font-size: 22px;
    font-weight: bold;
}


tr {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    
        .table-award {
            width: 20%;
            font-weight: bold;
            font-size: 18px;
        }

        .table-info {
            width: 20%;
        }

        .table-year {
            font-weight: bold;
    
        }

}