@import 'header';
@import 'variables';
@import 'body';
@import 'footer';

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Project content section*/

.project-container {
    @include flexSpace();
    width: 100%;
    margin-bottom: 50px;
}

.project-details {
    width: 50%;
    line-height: 1.5;
    text-align: start;
    color: $pColor;

        h1 {
            width: 70%;
            font-size: 40px;
        }
}

.project-info {

    width: 30%;

        table {
            justify-self: flex-end;
            width: 100%;
        }

        
        td {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid $pColor;
        }

        th {
            text-align: left;
            padding: 10px;
            color: $secondaryColor;
            font-weight: bold;
        }


}

/*Gallery section */

.project-img {
    display: block;
    justify-content: center;
    align-items: center;

}

.main-img {

    img {
        width: 100%;
    height: auto;
    margin-bottom: 50px;
    }
    
    p {
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 1.5;
        color: $secondaryColor;
    }
}


.project-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 130px;

        img {
        width: 100%;
        height: auto;
        }
    
}
